<div class="container">
   <div class="title">
        <h1>Add new</h1>
        <h1 id="colored">Flight </h1>
   </div>

    <form (ngSubmit)="onRegister()">
        <div class="inputGroup">
            <label>Aircraft</label>
            <input type="text"  [(ngModel)] = "flight.airCraft" class="inputs" name="airCraft">
        </div>
    
    
        <div class="inputGroup">
            <label>Available Seats</label>
            <input type="number" class="inputs" [(ngModel)] = "flight.availableSits" name="availableSits" required>
        </div>
    
    
        <div class="inputGroup">
            <label>Take Off</label>
            <input type="text" class="inputs"  [(ngModel)] = "flight.takeOff" name="takeOff" required>
        </div>

        <div class="inputGroup">
            <label>Landing</label>
            <input type="text" class="inputs"  [(ngModel)] = "flight.landing" name="landing" required>
        </div>

        <button class="btn">Submit</button>
    </form>

 
</div>
